code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

[data-rehype-pretty-code-figure] {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

[data-rehype-pretty-code-figure] code {
  display: grid;
  min-width: 100%;
  overflow-wrap: break-word;
  border-radius: 0;
  border-width: 0;
  background-color: transparent;
  padding: 0;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-line] {
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 1rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  width: 100%;
  display: inline-block;
}

[data-line-numbers]>[data-line]::before {
  color: var(--muted-foreground);
  font-size: 0.75rem;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1.5rem;
  text-align: right;
}

[data-highlighted-line] {
  background-color: rgba(63, 63, 70, 0.5);
}

[data-highlighted-chars] span {
  position: relative;
}

[data-highlighted-chars] {
  border-radius: 0.125rem;
  background-color: rgba(63, 63, 70, 0.5);
  color: var(--foreground);
  padding: 0.25rem;
}

[data-rehype-pretty-code-title] {
  margin-top: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.mdx>.steps:first-child>h3:first-child {
  margin-top: 0;
}

.steps>h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
